.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url('../../images/image-4.jpg');
  background-size: cover;
  color: #fff;
}

.loginTitle {
  font-size: 50px;
  letter-spacing: 2px;
}

.loginForm {
  width: 250px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label { margin: 10px 0; }

.loginInput {
  padding: 10px;
  background-color: #fff;
  border: none;
}
.loginInput:focus { outline-color: #444; }

.loginButton {
  background-color: #be9656;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  border: none;
}

.loginButton:hover {
  filter: brightness(90%);
  transform: scale(1.03);
}

.loginRegisterButton {
  background-color: transparent;
  color: #fff;
  position: absolute;
  top: 90px;
  right: 20px;
  padding: 10px 20px;
}

.loginButton,
.loginRegisterButton {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
}

.loginRegisterButton:hover {
  transform: scale(1.05);
}
