.top {
  background: #f6f6f6;
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
}

.topContainer {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  z-index: 1;
  margin: 0 auto;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
}

.topCenter { flex: 6; }

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 1px;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.topListItem > Link { text-decoration: none; }

.topSearchIcon {
  font-style: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
