.top {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0 0 0 / 15%);
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  z-index: 1;
  margin: 0 auto;
  padding: 15px;
}

.mobileMenuIcon {
  display: none;
}

.topLogo {
  font-family: 'Carter One', cursive;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  color: #727272;
  color: #444;
}

.topLogo:hover {
  transform: scale(1.05);
  transition: 0.2s ease-out;
  color: #b39656;
}

.topLogo > span a {
  color: inherit;
  text-decoration: none;
  font-size: 25px;
}

.topLeft,
.topRight {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topCenter {
  flex: 6;
  letter-spacing: 0.7px;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.link:hover {
  color: #b39656;
}

.topList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 36px;
  margin-right: 40px;
}

.topListItem {
  transition: all 3s ease-in-out;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  color: #444;
  height: 36px;
}

.topListRegister {
  margin-left: 15px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.topListItem > Link {
  text-decoration: none;
}

.linkLg {
  border: 1px solid #444;
}

.linkReg {
  border: 1px solid #b39656;
  background-color: #b39656;
  color: #000;
}

.linkReg, .linkLg {
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 400;
  letter-spacing: 0.7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.linkLg:hover  {
  border: 1px solid transparent;
  background-color: #b39656;
  color: #f6f6f6;
}

.linkReg:hover {
  border: 1px solid #b39656;
  color: #f6f6f6;
}

.topSearchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-style: 18px;
  color: #444;
  cursor: pointer;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .mobileMenuIcon {
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    transform: translate(-100%, 40%);
    font-size: 28px;
    cursor: pointer;
  }
  .topLogo,
  .topListItem {
    display: none;
  }
}
