.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  display: flex;
  max-width: 1200px;
  padding: 15px;
}

/* ========== Media Query ========== */
@media screen and (max-width: 768px) {
  .homeContainer { flex-direction: column-reverse; }
}
