.sidebar {
  flex: 3;
  margin: 20px 20px 20px 0;
  padding-bottom: 30px;
  background-color: #fbfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  letter-spacing: 1px;
  font-family: 'Varela Round', sans-serif;
  font-style: 12px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarItem > img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(75, 52, 52, 0.3));
  margin-top: 15px;
  width: 70%;
}

.sidebarItem > p {
  font-family:'Josefin Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  color:#444;
  padding: 30px;
}

.sidebarList {
  list-style: none;
  margin-bottom: 30px;

  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
