.footerContainer { background-color: #111; }

.footerWrap {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #111;
  color: #727272;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-weight: 300;
  width: 100%;
}

.footerLinksContainer { display: flex; }

.footerLinksWrapper {
  display: flex;
  justify-content: flex-end;
  flex: 4;
  margin: 0 20px;
  padding: 0 25px;
}

.footerLinkInfo {
  display: flex;
  flex-direction: column;
  flex: 4;
  line-height: 1.4;
  margin: 0 20px;
  padding: 0 25px;
}

.footerLinkItems {
  align-items: flex-end;
  margin-right: 30px;
}

.footerLinkItems ul li:hover {
  color: #b39656;
  cursor: pointer;
}

.footerLinkInfo :first-child {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.footerLinkInfo :nth-child(2) {
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 2px;
  line-height: 18px;
}

.footerLinkItems > p {
  font-size: 15px;
  letter-spacing: 0.7px;
  font-weight: 600;
}

.footer-link { font-size: 15px !important }

.footerLinkItems ul li {
  list-style-type: none;
  margin: 3px 5px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.footer-link {
  color: #be9656;
  text-decoration: none;
}

.footer-link:hover { text-decoration: underline; }

.socialMedia {
  width: 100%;
}

.socialMediaWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 40px auto 0 auto;
  border-top: 1px solid #444;
  padding-top: 0.5rem;
}

.socialLogo {
  font-family: 'Carter One', cursive;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #727272;
  height: auto;
  cursor: pointer;
}

.socialLogo:hover {
  color: #444;
  transform: scale(1.1);
  transition: 0.2s ease-out;
  color: #b39656;
}

.socialLogo > span a {
  color: inherit;
  text-decoration: none;
  font-size: 25px;
}

.socialRights {
  font-size: 15px;
  font-weight: 400;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  font-size: 20px;
}

.socialIcon:hover {
  transform: scale(1.15);
  transition: 0.2s ease-out;
  cursor: pointer;
}

.socialGithub:hover {
  color: #fff;
}
.socialTwitter:hover {
  color: #32ccfe;
}
.socialLinkedin:hover {
  color: #0085ae;
}
.socialStackOverflow:hover {
  color: #ff7300;
}
/* ========== Media Query =========== */
@media screen and (max-width: 820px) {
  .footerLinkInfo {
    padding-bottom: 20px;
  }
  .footerLinkItems {
    width: 60%;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    margin-right: 0;
  }
  .socialMediaWrap {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .socialIcons { padding-bottom: .5rem; }
  .socialRights { order: 3; }
}
@media screen and (max-width: 768px) {
  .footerLinksContainer {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  .footerLinksWrapper {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
  .footerLinkItems {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}
