/* Set a custom width & hights of scrollbar thumb */
.scrollbar-thumb {
  background-color: #000 !important;
  width: 12px !important;
  height: 100px !important;
  border-radius: 0 !important;
}

.scrollbar-track-y {
  background-color: transparent !important;
  width: 12px !important;
}
